.container
{
    width: 50%;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 1px 1px 10px 0px #000;
    
}

form
{
    display: flex;
    flex-wrap: wrap;
}

.col-lg-10
{
    margin: 2rem;
}
